.board{
  width: 656px;
  height: 656px;
  border: 10px solid;
  display: block;
  margin: auto;
  margin-top: 7%;
}
.square {
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black{
  background-color: #A0522D;
}
.white{
  background-color:  #eee;
}
.figure {
  font-size: 60px;
  cursor: pointer;
}

.slon {


}

.king {


}

.ladya {


}

.ferz {


}

.horse {


}

.peshka {


}

.whit {


}

.blck {


}
