.board{
  width: 656px;
  height: 656px;
  border: 1px solid;
  display: block;
  margin: auto;
  margin-top: 7%;
  box-shadow: 0 0 4px 10px black; /* Параметры тени */
  padding: 0px;
}
.square {
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black{
  background-color: #A0522D;
}
.white{
  background-color:  #eee;
}
.figure {
  font-size: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.figure:hover {
  background: #786b58;
}
.status{
  font-style: normal;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}

body{ 
  background: url(https://images.wallpaperscraft.ru/image/fon_pyatna_temnyy_91678_2560x1600.jpg) no-repeat 0 0%;
  background-size: 100%;
}