.board{
  width: 640px;
  height: 640px;
  border: 10px solid;
  display: block;
  margin: auto;
  margin-top: 7%;
}
.square {
  float: left;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black{
  background-color: #A0522D;
}
.white{
  background-color:  #eee;
}
.figure {
  font-size: 60px;
  cursor: pointer;
}
